*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bg-color-inverse: #E1D4C9;
  --tx-color-dark: #403F3D;
  --tx-color-accent: #B0907A;
  --border-primary: #C1B6AD;
  --border-container: #665F55;
  --font-main: 'Inter', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: var(--font-main);
  color: var(--tx-color-dark);
  background: var(--bg-color-inverse);
}

.header,
main {
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__list {
  display: flex;
  gap: 40px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav__link,
.menu-btn {
  padding: 5px 0;
  text-decoration: none;
  color: var(--tx-color-dark);
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  transition: color 0.2s ease;
  border-bottom: 2px solid transparent;
}

.nav__link:hover,
.menu-btn:hover {
  color: var(--tx-color-accent);
  border-bottom-color: var(--tx-color-dark);
}

.header__actions {
  display: flex;
  align-items: center;
  gap: 24px;
}

/* Theme switcher (capsule) */
.theme-toggle {
  width: 88px;
  height: 44px;
  border-radius: 100px;
  border: 1px solid var(--border-primary);
  background-color: var(--color-bg-toggle);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px;
  cursor: pointer;
  position: relative;
}

.theme-toggle__icon {
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

/* Simulation of an active circle for switching the theme */
.theme-toggle::before {
  content: '';
  position: absolute;
  left: 4px;
  top: 3px;
  width: 36px;
  height: 36px;
  background-color: var(--tx-color-accent);
  border-radius: 50%;
  transition: transform 0.3s ease;
  z-index: 1;
}

.menu-btn {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 0;
}

.burger-btn {
  display: none;
  align-items: center;
  justify-content: center;
  padding: 0;
  background: transparent;
  cursor: pointer;
  width: 44px;
  height: 44px;
  border: 1px solid var(--tx-color-dark);
  border-radius: 50%;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.burger-btn__lines {
  position: relative;
  width: 16px;
  height: 8px;
  display: block;
}

.burger-btn__lines::before,
.burger-btn__lines::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 1.5px;
  background-color: var(--tx-color-dark);
  border-radius: 100px;
  transition: transform 0.3s ease, top 0.3s ease, bottom 0.3s ease;
}

.burger-btn__lines::before {
  top: 0;
}

.burger-btn__lines::after {
  bottom: 0;
}

.burger-btn:hover {
  background-color: rgba(64, 63, 61, 0.05);
}

.hero {
  display: flex;
  align-items: center;
  padding: 100px;
  margin: 0 40px;
  min-height: 644px;
  border-radius: 40px;
  background-image:
    linear-gradient(90deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.4) 50%, rgba(0, 0, 0, 0.2) 100%),
    url('./assets/img-hero.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-sizing: border-box;
}

.hero__content {
  font-family: var(--font-main);
  max-width: 530px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.hero__title {
  font-size: 72px;
  line-height: 1.05;
  font-weight: 600;
  color: #ffffff;
  margin: 0 0 24px 0;
  align-self: stretch;
}

.hero__description {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: #F8F1EB;
  margin: 0 0 40px 0;
}

.btn-menu__icon {
  opacity: 0;
  transform: translateX(10px);
  width: 0;
  transition:
    opacity 0.3s ease,
    transform 0.3s ease,
    width 0.3s ease;
}

.btn-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 200px;
  height: 64px;
  background-color: var(--bg-color-inverse);
  color: var(--tx-color-dark);
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  border-radius: 100px;
  transition: background-color 0.2s ease, transform 0.5s ease;
  overflow: hidden;
}

.btn-menu:hover .btn-menu__text {
  transition: transform 0.5s ease;
  transform: translateX(-5px);
}

.btn-menu:hover .btn-menu__icon {
  opacity: 1;
  transition: transform 0.5s ease;
  transform: translateX(0);
  width: 20px;
}

.btn-menu:active {
  transform: scale(0.98);
}

.coffee-slider {
  margin: 100px 40px;
  font-family: var(--font-main);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.coffee-slider__title,
.about-us__title,
.download-app__title,
.menu__title {
  font-size: 60px;
  font-weight: 600;
  line-height: 125%;
  color: var(--tx-color-dark);
  text-align: center;
  margin-bottom: 40px;
}

.hero__title--accent,
.coffee-slider__title--accent,
.about-us__title--accent,
.download-app__title--accent,
.footer__heading--accent,
.menu__title--accent {
  color: var(--tx-color-accent);
  font-style: italic;
}

.coffee-slider__body {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  margin-bottom: 40px;
}

.coffee-slider__arrow,
.btn-refresh {
  flex-shrink: 0;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 1px solid var(--border-container);
  background-color: transparent;
  color: var(--border-container);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.btn-refresh {
  display: none;
}

.coffee-slider__arrow:hover,
.btn-refresh:hover {
  background-color: var(--border-container);
  color: var(--bg-color-inverse);
}

.btn-refresh:hover path {
  stroke: var(--bg-color-inverse);
}

.coffee-slider__viewport {
  width: 100%;
  max-width: 480px;
  overflow: hidden;
}

.coffee-slider__track {
  display: flex;
  transition: transform 0.4s ease-in-out;
}

.coffee-slider__slide {
  max-width: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.coffee-slide__image-wrapper {
  width: 100%;
  height: 480px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 32px;
}

.coffee-slide__image {
  max-height: 100%;
  width: auto;
  object-fit: contain;
}

.coffee-slide__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--tx-color-dark);
}

.coffee-slide__title {
  margin-bottom: 12px;
}

.coffee-slide__title,
.coffee-slide__price {
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
}

.coffee-slide__description,
.download-app__description {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 24px;
}

.coffee-slider__pagination {
  display: flex;
  gap: 12px;
}

.pagination__bullet {
  padding: 0;
  width: 40px;
  height: 4px;
  background-color: var(--border-primary);
  border: none;
  border-radius: 100px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pagination__bullet--active {
  background-color: var(--border-container);
}

.about-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 40px;
  font-family: var(--font-main);
}

.about-us__title,
.download-app__title {
  text-align: left;
}

.about-us__grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 430px 160px 270px 160px;
  gap: 40px;
  width: 100%;
}

.gallery__item {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 40px;
}

.gallery__item:hover {
  cursor: pointer;
}

.gallery__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transform: scale(1.1);
  transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
}

.gallery__item:hover .gallery__image {
  transform: scale(1);
  opacity: 0.9;
}

.gallery__item--top-left {
  grid-column: 1;
  grid-row: 1 / span 2;
}

.gallery__item--top-right {
  grid-column: 2;
  grid-row: 1;
}

.gallery__item--bottom-right {
  grid-column: 2;
  grid-row: 2 / span 3;
}

.gallery__item--bottom-left {
  grid-column: 1;
  grid-row: 3 / span 2;
}

.download-app {
  width: 100%;
  padding: 100px 40px;
  font-family: var(--font-main);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}

.download-app__content {
  flex: 0 1 630px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--tx-color-dark);
}

.download-app__description {
  margin-bottom: 40px;
}

.download-app__buttons {
  display: flex;
  gap: 20px;
}

.app-btn {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  width: 200px;
  height: 64px;
  padding: 12px 20px;
  border: 1px solid var(--border-container);
  border-radius: 100px;
  text-decoration: none;
  color: var(--tx-color-dark);
  transition: background-color 0.2s ease, color 0.2s ease;
  box-sizing: border-box;
}

.app-btn:hover {
  background-color: var(--tx-color-dark);
  color: var(--bg-color-inverse);
}

.app-btn__icon path {
  flex-shrink: 0;
}

.app-btn:hover .app-btn__icon path {
  fill: var(--bg-color-inverse);
}

.app-btn__text {
  display: flex;
  flex-direction: column;
}

.app-btn__subtitle {
  font-size: 10px;
  line-height: 1.4;
  font-weight: 600;
}

.app-btn__title {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 600;
}

.download-app__visual {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 630px;
  height: 630px;
}

.phones__image {
  height: 100%;
  width: auto;
  object-fit: contain;
  transition: transform 0.4s ease;
}

.footer {
  max-width: 1440px;
  margin: 0 auto 40px;
}

.footer-container {
  margin: 0 40px;
  background-color: var(--border-container);
  border-radius: 40px;
  padding: 100px;
  font-family: var(--font-main);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 100px;
}

.footer__brand {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.footer__heading {
  font-size: 60px;
  line-height: 1.25;
  line-height: 125%;
  color: var(--bg-color-inverse);
  margin: 0;
}

.socials {
  display: flex;
  gap: 12px;
}

.socials__link {
  width: 60px;
  height: 60px;
  border: 1px solid var(--border-primary);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--bg-color-inverse);
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.socials__link:hover {
  background-color: var(--bg-color-inverse);
  border-color: var(--bg-color-inverse);
}

.socials__link:hover path {
  stroke: var(--tx-color-dark);
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.contacts__title {
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
  color: var(--bg-color-inverse);
  margin: 0;
}

.contacts__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.contacts__item {
  display: flex;
  align-items: center;
  gap: 12px;
  border-bottom: 2px solid transparent;
  transition: color 0.2s ease, border-color 0.2s ease;
}

.contacts__icon {
  color: var(--bg-color-inverse);
}

.contacts__item:not(:last-child):hover {
  border-bottom-color: var(--bg-color-inverse);
}

.contacts__link,
.contacts__text {
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  color: var(--bg-color-inverse);
  text-decoration: none;
}

.menu {
  width: 100%;
  padding: 0 40px 100px;
  font-family: var(--font-main);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__title {
  max-width: 800px;
}

.tabs {
  display: flex;
  gap: 16px;
  margin-bottom: 40px;
}

.tabs__btn {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  min-width: 90px;
  height: 46px;
  padding: 8px;
  padding-right: 16px;
  border: 1px solid var(--border-container);
  border-radius: 100px;
  background-color: transparent;
  color: var(--tx-color-dark);
  font-size: 16px;
  line-height: 150%;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.tabs__btn:hover,
.tabs__btn--active {
  background-color: var(--border-container);
  color: var(--bg-color-inverse);
  border-color: var(--border-container);
}

.tabs__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: var(--border-primary);
}

.tabs__icon img {
  width: 16px;
}

.tabs__btn--active .tabs__icon,
.tabs__btn:hover .tabs__icon {
  background-color: var(--bg-color-inverse);
}

.menu__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.product-card {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--border-primary);
  border-radius: 40px;
  overflow: hidden;
  height: 100%;
  width: 310px;
}

.product-card__image-box {
  width: 100%;
  height: 310px;
  overflow: hidden;
}

.product-card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.1);
  transition: transform 0.4s ease-in-out;
}

.product-card:hover {
  cursor: pointer;
}

.product-card:hover .product-card__image {
  transform: scale(1);
}

.product-card__content {
  padding: 24px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  color: var(--tx-color-dark);
  font-size: 24px;
  font-weight: 600;
  line-height: 125%;
}

.product-card__title {
  margin-bottom: 12px;
}

.product-card__description {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  margin-bottom: 36px;
}

@media (max-width: 1430px) {
  .menu__grid {
    grid-template-columns: repeat(3, 1fr);
  }


}


@media (max-width: 1180px) {
  .download-app {
    gap: 20px;
  }

  .download-app__visual {
    max-width: 400px;
    height: 400px;
  }
}

@media (max-width: 1100px) {
  .menu__grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .product-card:nth-last-child(-n+4) {
    display: none;
  }

  .btn-refresh {
    display: flex;
    margin-top: 40px;
  }

  .footer-container {
    gap: 30px;
    justify-content: space-between;
    padding: 100px 60px;
  }

}

@media (max-width: 930px) {
  .download-app__content {
    flex: 1;
  }

  .download-app {
    flex-direction: column;
  }

  .download-app__visual {
    max-width: 630px;
    height: 100%;
  }

  .footer-container {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (max-width: 840px) {

  .nav__list,
  .header__actions {
    gap: 15px;
  }
}

@media screen and (max-width: 768px) {

  .header__nav,
  .menu-btn {
    display: none;
  }

  .burger-btn {
    display: inline-flex;
  }

  .hero {
    padding: 100px 60px;
  }

  .coffee-slider__body {
    gap: 0;
  }

  .about-us__grid {
    display: flex;
    flex-direction: column;
  }

  .gallery__item:not(:first-child):not(:last-child) {
    display: none;
  }

  .footer-container {
    padding: 100px 60px;
  }

}

@media screen and (max-width: 730px) {
  .menu__grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 700px) {

  .hero,
  .footer-container {
    padding: 60px 40px;
  }

  .hero__title {
    font-size: 52px;
  }

  .coffee-slider__title,
  .about-us__title,
  .download-app__title,
  .menu__title,
  .footer__heading {
    font-size: 42px;
  }

  .coffee-slider__viewport,
  .coffee-slider__slide,
  .coffee-slide__image {
    max-width: 348px;
  }

  .coffee-slide__image-wrapper {
    height: 100%;
  }

  .phones__image {
    max-width: 500px;
  }

  .footer-container {
    gap: 60px;
  }

}

@media screen and (max-width: 570px) {

  .header {
    padding: 20px 16px;
  }

  .phones__image {
    max-width: 348px;
    height: 100%;
  }

  .hero__title {
    font-size: 42px;
    line-height: 115%;
  }

  .hero {
    align-items: flex-start;
    margin: 0 16px;
  }

  .hero,
  .footer-container {
    padding: 60px 16px;
  }

  .hero__title,
  .hero__description {
    margin-bottom: 40px;
  }

  .coffee-slider {
    margin: 100px 16px;
  }

  .coffee-slider__body {
    justify-content: center;
  }

  .coffee-slider__arrow {
    display: none;
  }

  .about-us {
    padding: 0 16px;
  }

  .gallery__item {
    height: 590px;
  }

  .download-app {
    padding: 100px 16px;
  }

  .download-app__buttons {
    flex-direction: column;
  }

  .footer-container {
    margin: 0 16px;
  }

  .coffee-slider__title,
  .about-us__title,
  .download-app__title,
  .menu__title,
  .footer__heading {
    font-size: 32px;
  }

  .menu {
    padding: 0 16px 100px;
  }

  .tabs {
    gap: 8px;
  }
}